@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/fonts.scss' as *;
@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/global.scss' as *;

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 5rem;
    height: 94vh;
    padding-right: 0.3rem;

    &__top {
        display: flex;
        flex-direction: column;
        // align-items: center;
        margin-top: 1rem;
    }

    &__bottom {
        width: 6rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 1.5rem;
        background-color: $lightGrey;
        margin-bottom: 0.5rem;
    }

    &__icon {
        min-width: 1.3rem;
        padding-top: 0.75rem;
        margin-bottom: 0.3rem;

        &-text {
            padding-bottom: 0.75rem;
            color: gray;
        }
    }

    &__link {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: black;

        &--active {
            background-color: rgba(227, 82, 65, 0.35);
            padding-left: 1.25rem;
            padding-right: 1.25rem;
            border-bottom-right-radius: 1rem;
            border-top-right-radius: 1rem;
            border-left: 4px solid #E35241;
        }
    }

}