@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/fonts.scss' as *;
@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/global.scss' as *;

.header {
    padding: 1.2rem 1.5rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(224, 221, 221);

    &__logo {
        min-width: 5rem;
        height: 1.45rem;
    }

    &__upload {
        color: white;
        background-color: $Shutter-Stock;
        border: none;
        border-radius: .5rem;
        width: 7rem;
        height: 2rem;
        margin-right: 1rem;

        &--inactive {
            display: none;
        }
    }

    &__search{
        width: 2rem;
        margin-right: 1rem;
    }
}