//Colors
$Shutter-Stock:#E35241;



//Layout Grid (eg. margin/padding)



//Breakpoint for mobile, tablet, and desktop
$breakpoint-tablet: 48rem;
$breakpoint-desktop: 80rem;

@mixin tablet {
    @media (min-width: $breakpoint-tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $breakpoint-desktop) {
        @content;
    }
}
