@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/fonts.scss' as *;
@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/global.scss' as *;

.item-info {
    display: flex;
    justify-content: space-between;

    &__avatar {
        border-radius: 50%;
        width: 2rem;
    }

    &__left {
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    &__heart {
        position: relative;
        top: -14.9rem;
        left: 5rem;
    }
}