@use '../../styles/partials/variables.scss' as *;

.upload{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 10rem;

    &__link{
        text-decoration: none;
        width: 40rem;
        color: black;
    }

    &__button{
        padding: 0.3rem 0.6rem;
        align-self: flex-start;
    }

    &__title{
        margin-bottom: 1rem;
        font-weight: 400;
        font-size: 2rem;
    }

    &__text{
        margin-bottom: 1rem;
    }

    &__box{
        background-color: #F6F6F6;
        height: 50vh;
        width: 100%;
        border-radius: 10px;
        border: 1px dashed $Shutter-Stock;
        display: flex;
        justify-content: center;
        align-items: center;

        &--text{
            font-size: 1.3rem;
        }
    }
}